Mail]
ImapServer=imap.googlemail.com
SmtpServer=smtp.gmail.com

User=

# Authentication method is defaulted to OAuth2. Possible values are 'AppPassword' and 'OAuth2'.
#AuthenticationMethod=

# If authentication method is set to 'AppPassword'.
#AppPassword=

# If authentication method is set to 'OAuth2'.
ClientId=
ClientSecret=
AuthUri=https://accounts.google.com/o/oauth2/auth
TokenUri=https://oauth2.googleapis.com/token
AuthorizeCode=
RefreshToken=

[Telegram]
BotToken=
ChatId=

[Database]
File=tinybots.db


