[Mail]
ClientId=
ClientSecret=
AuthUri=https://accounts.google.com/o/oauth2/auth
TokenUri=https://oauth2.googleapis.com/token
User=
ImapServer=imap.googlemail.com

# Get the authorization code once permission has been granted. No longer needed once have a refresh token.
AuthorizeCode=

# Get the refresh token once the token has been authorized.
# Set the publishing status to "production" so that it will not expire.
RefreshToken=

[Telegram]
BotToken=
ChatId=